@import "ui-variables";
@import "ui-mixins";

.sheet-toolbar {
	height: 56px;
	max-height: 56px;

	.sheet-toolbar-container {

		background-image: -webkit-linear-gradient(
			top,
			#3b3a36,
			#54524b);
		box-shadow: inset 0 1px 0 #383734;

		body.is-blurred & {
			background-image: -webkit-linear-gradient(
				top,
				#3c3b37,
				#3c3b37);
			box-shadow: inset 0 1px 0 #3c3b37;
		}
	}

	button.btn-toolbar {
		height: 3em;
		line-height: 1em;

		background-image: -webkit-linear-gradient(
			top,
			#3d3c38,
			#514f48);
		box-shadow: inset 0 0 2px #55544e;
		border: 1px solid #363632;
		box-sizing: border-box;

		img.content-mask {
			background-color: #dfdbd2;
		}

		&:active, &:focus {
			box-shadow: inset 0 0 2px #f07746;

			img.content-mask {
				background-color: #dfdbd2;
			}
		}

		&:active {
			background-image: -webkit-linear-gradient(
				bottom,
				#3d3c38,
				#514f48);
		}
	}
}

.list-container {
	.list-item {
		background-color: #fff;

		&.focused {
			background-color: #f07746;
			border-bottom-color: #d4673c;
		}
	}
}

.account-sidebar {
	background-color: #e7e5e4;
	border-right: 1px solid #bbb7b3;

	.nylas-outline-view {
		.item {
			position: relative;
			border-right: none;

			&.selected {
				background-color: #f07746;
				color: white;

				&::before {
					content: "";
					position: absolute;
					z-index: -1;
					display: block;
					background-color: #f07746;
					top: 0;
					bottom: 0;
					left: -100%;
					width: 100%;
				}

				.content-mask {
					background-color: white;
				}

				body.is-blurred & {
					background-color: #c9c5c2;
					color: #4c4c4c;

					&::before {
						background-color: #c9c5c2;
					}

					.content-mask {
						background-color: #4c4c4c;
					}
				}
			}
		}
	}

}